.calcItem {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    overflow: hidden;
    align-items: center;
    color: #000;
    
}
.touchItem{
    cursor: pointer;
}


